FORMAT: 1A
HOST: http://sweography.me

# Internet Country Database API

Internet Country Database gives you information about countries and their relating regions, currencies, and languages.

## Countries Collection -- /country [/api/v1/country{?id,region_id,currency_id,language_id, subregion_id}]

### List Countries [GET]

+ Parameters
    + id (optional, integer)
        Response contains the country with the specified id
    + region_id (optional, integer)
        Response contains only countries in the specified region
    + subregion_id (optional, integer)
        Response contains only countries in the specified subregion        
    + currency_id (optional, integer)
        Response contains only countries that use the specified currency
    + language_id (optional, integer)
        Response contains only countries who speak the specified language

+ Response 200 (application/json)

        {
          "countries": [
            {
              "area": "1000", 
              "borders": [
                {
                  "id": 1, 
                  "name": "MEX"
                }
              ], 
              "capital": "Montreal", 
              "currencies": [
                {
                  "code": "CAN", 
                  "id": 1, 
                  "name": null, 
                  "unicode": null
                }, 
                {
                  "code": "USD", 
                  "id": 2, 
                  "name": null, 
                  "unicode": null
                }
              ], 
              "id": "1", 
              "languages": [
                {
                  "id": 1, 
                  "iso_code": "en", 
                  "name": null
                }, 
                {
                  "id": 2, 
                  "iso_code": "fr", 
                  "name": null
                }
              ], 
              "lat": "38", 
              "lng": "-97", 
              "name": "Canada", 
              "population": "321645000", 
              "region": "Americas", 
              "subregion": "North America"
            }, 
            {
              "area": "1000", 
              "borders": [
                {
                  "id": 1, 
                  "name": "MEX"
                }
              ], 
              "capital": "Washington, DC", 
              "currencies": [
                {
                  "code": "CAN", 
                  "id": 1, 
                  "name": null, 
                  "unicode": null
                }, 
                {
                  "code": "USD", 
                  "id": 2, 
                  "name": null, 
                  "unicode": null
                }
              ], 
              "id": "2", 
              "languages": [
                {
                  "id": 1, 
                  "iso_code": "en", 
                  "name": null
                }, 
                {
                  "id": 2, 
                  "iso_code": "fr", 
                  "name": null
                }
              ], 
              "lat": "38", 
              "lng": "-97", 
              "name": "United States", 
              "population": "321645000", 
              "region": "Americas", 
              "subregion": "North America"
            }
          ]
        }

### Create a New Country [POST]


+ Request (application/json)

        {
            "name": "United States of America",
            "lat": 38,
            "lng": -97,
            "region": "Americas",
            "subregion": "North America",
            "population": 321645000,
            "area": 1000,
            "capital": "Washington, DC",
            "languages": [
                "en"
            ],
            "currencies": [
                "USD",
                "USN",
                "USS"
            ],
            "borders": [
                "CAN",
                "MEX"
            ]
        }

+ Response 201 (application/json)

    + Headers

            Location: /countries/2

    + Body

        {
          "area": "1000", 
          "borders": [
            {
              "id": 1, 
              "name": "MEX"
            }
          ], 
          "capital": "Washington, DC", 
          "currencies": [
            {
              "code": "CAN", 
              "id": 1, 
              "name": null, 
              "unicode": null
            }, 
            {
              "code": "USD", 
              "id": 2, 
              "name": null, 
              "unicode": null
            }
          ], 
          "id": "2", 
          "languages": [
            {
              "id": 1, 
              "iso_code": "en", 
              "name": null
            }, 
            {
              "id": 2, 
              "iso_code": "fr", 
              "name": null
            }
          ], 
          "lat": "38", 
          "lng": "-97", 
          "name": "United States", 
          "population": "321645000", 
          "region": "Americas", 
          "subregion": "North America"
        }

## Single Country -- /country/{id} [/api/v1/country/{id}]

### Get a Country [GET]

+ Response 200 (application/json)


{
          "area": "1000", 
          "borders": [
            {
              "id": 1, 
              "name": "MEX"
            }
          ], 
          "capital": "Washington, DC", 
          "currencies": [
            {
              "code": "CAN", 
              "id": 1, 
              "name": null, 
              "unicode": null
            }, 
            {
              "code": "USD", 
              "id": 2, 
              "name": null, 
              "unicode": null
            }
          ], 
          "id": "2", 
          "languages": [
            {
              "id": 1, 
              "iso_code": "en", 
              "name": null
            }, 
            {
              "id": 2, 
              "iso_code": "fr", 
              "name": null
            }
          ], 
          "lat": "38", 
          "lng": "-97", 
          "name": "United States", 
          "population": "321645000", 
          "region": "Americas", 
          "subregion": "North America"
        }


### Update a Country [PUT]

+ Request (application/json)

        {
            "name": "United States of America",
            "lat": 38,
            "lng": -97,
            "region": "Americas",
            "subregion": "North America",
            "population": 321645000,
            "area": 1000,
            "capital": "Washington, DC",
            "languages": [
                "en"
            ],
            "currencies": [
                "USD",
                "USN",
                "USS"
            ],
            "borders": [
                "CAN",
                "MEX"
            ]
        }

+ Response 200 (application/json)

    + Headers

            Location: /country/{id}

    + Body

{
          "area": "1000", 
          "borders": [
            {
              "id": 1, 
              "name": "MEX"
            }
          ], 
          "capital": "Washington, DC", 
          "currencies": [
            {
              "code": "CAN", 
              "id": 1, 
              "name": null, 
              "unicode": null
            }, 
            {
              "code": "USD", 
              "id": 2, 
              "name": null, 
              "unicode": null
            }
          ], 
          "id": "2", 
          "languages": [
            {
              "id": 1, 
              "iso_code": "en", 
              "name": null
            }, 
            {
              "id": 2, 
              "iso_code": "fr", 
              "name": null
            }
          ], 
          "lat": "38", 
          "lng": "-97", 
          "name": "United States", 
          "population": "321645000", 
          "region": "Americas", 
          "subregion": "North America"
        }

### Remove a Country [DELETE]

+ Request (application/json)

+ Response 204


## Regions Collection -- /region [/api/v1/region{?subregion_id,currency_id,language_id}]

### List Regions [GET]

+ Parameters
    + subregion_id (optional, integer)
        Response contains only regions containing the specified subregion        
    + currency_id (optional, integer)
        Response contains only regions that use the specified currency
    + language_id (optional, integer)
        Response contains only regions who speak the specified language

+ Response 200 (application/json)

        {"regions":[
            {
                "id": 1,
                "name": "Americas",
                "area": 999999,
                "population": 99999,
                "subregions": 4,
                "countries": 5,
                "languages": 10,
                "currencies": 10
            },
            {
                "id": 2,
                "name": "Asia",
                "area": 999999,
                "population": 99999,
                "subregions": 4,
                "countries": 5,
                "languages": 10,
                "currencies": 10
            }
        ]}

### Create a New Region [POST]

+ Request (application/json)

        {
            "name": "Americas"
        }

+ Response 201 (application/json)

    + Headers

            Location: /region/2

    + Body

               {
                    "id": 1,
                    "name": "Americas"
                }

## Single Region -- /region/{id} [/api/v1/region/{id}]

### Get a Region [GET]

+ Response 200 (application/json)

        {
            "id": 1,
            "name": "Americas",
            "area": 999999,
            "population": 99999,
            "subregions": 4,
            "countries": 5,
            "languages": 10,
            "currencies": 10
        }



### Update a Region [PUT]

+ Request (application/json)

        {
            "name": "Americas",
        }

+ Response 200 (application/json)

    + Headers

            Location: /region/{id}

    + Body

               {
                    "id": 1,
                    "name": "Americas",
                    "area": 999999,
                    "population": 99999,
                    "subregions": 4,
                    "countries": 5,
                    "languages": 10,
                    "currencies": 10
                }

### Remove a Region [DELETE]

+ Request (application/json)

+ Response 204


## Languages Collection -- /language [/api/v1/language{?region_id,subregion_id}]

### List Languages [GET]

+ Parameters
    + region_id (optional, integer)
        Response contains only languages used in the specified region
    + subregion_id (optional, integer)
        Response contains only languages used in the specified subregion        

+ Response 200 (application/json)

        {"languages":[
            {
                "id": 1,
                "iso_code": "en",
                "name": "English",
                "countries": 2,
                "regions": 1,
                "subregion": 1
            },
            {
                "id": 2,
                "iso_code": "no",
                "name": "Norwegian",
                "countries": 2,
                "regions": 1,
                "subregion": 1
            }
        ]}

### Create a New Language [POST]

+ Request (application/json)

        {
            "iso_code": "sp",
            "name": "Spanish"
        }

+ Response 201 (application/json)

    + Headers

            Location: /languages/2

    + Body

               {
                    "id": 2,
                    "iso_code": "sp",
                    "name": "Spanish",
                    "countries": 1,
                    "regions": 1,
                    "subregion": 1
                }

## Single Language -- /langauge/{id} [/api/v1/language/{id}]

### Get a Language [GET]

+ Response 200 (application/json)

        {
            "id": 1,
            "iso_code": "en",
            "name": "English",
            "countries": 2,
            "regions": 1,
            "subregion": 1
        }


### Update a Language [PUT]

+ Request (application/json)

        {
            "iso_code": "en",
            "name": "English"
        }

+ Response 200 (application/json)

    + Headers

            Location: /language/{id}

    + Body

               {
                    "id": 1,
                    "iso_code": "en",
                    "name": "English",
                    "countries": 2,
                    "regions": 1,
                    "subregion": 1
                }

### Remove a Language [DELETE]

+ Request (application/json)

+ Response 204


## Currency Collection -- /currency [/api/v1/currency{?region_id,subregion_id}]

### List Currencies [GET]

+ Parameters
    + region_id (optional, integer)
        Response contains only currencies used in the specified region
    + subregion_id (optional, integer)
        Response contains only currencies in the specified subregion        

+ Response 200 (application/json)

        {"currencies":[
            {
                "id": 1,
                "code": "USD",
                "name": "US Dollar",
                "countries": 1,
                "regions": 1,
                "subregions": 1
            },
            {
                "id": 2,
                "code": "NOR",
                "name": "Norway Kroner",
                "countries": 1,
                "regions": 1,
                "subregions": 1
            }
        ]}

### Create a New Currency [POST]

+ Request (application/json)

        {
            "code": "USD",
            "name": "US Dollar"
        }

+ Response 201 (application/json)

    + Headers

            Location: /currency/2

    + Body

               {
                    "id": 2,
                    "code": "USD",
                    "name": "US Dollar",
                    "countries": 1,
                    "regions": 1,
                    "subregions": 1
                }

## Single Currency -- /currency/{id} [/api/v1/currency/{id}]

### Get a Currency [GET]

+ Response 200 (application/json)

        {
            "id": 1,
            "code": "USD",
            "name": "US Dollar",
            "countries": 1,
            "regions": 1,
            "subregions": 1
        }



### Update a Currency [PUT]

+ Request (application/json)

        {
            "code": "USD",
            "name": "US Dollar"
        }

+ Response 200 (application/json)

    + Headers

            Location: /currency/{id}

    + Body

               {
                    "id": 1,
                    "name": "US Dollar",
                    "code": "USD"
                    "countries": 1,
                    "regions": 1,
                    "subregions": 1
                }

### Remove a Currency [DELETE]

+ Request (application/json)

+ Response 204


## Subregion Collection -- /subregion [/api/v1/subregion{?language_id,currency_id,region_id}]

### List Subregions [GET]

+ Parameters
    + region_id (optional, integer)
        Response contains only subregions in the specified region
    + currency_id (optional, integer)
        Response contains only subregions that use the specified currency
    + language_id (optional, integer)
        Response contains only subregions who speak the specified language

+ Response 200 (application/json)

        {"subregions":[
            {
                "id": 1,
                "name": "North America",
                "languages": 1,
                "region": "Americas",
                "countries": 1,
                "currencies": 1
            },
            {
                "id": 2,
                "name": "South America",
                "languages": 1,
                "region": "Americas",
                "countries": 1,
                "currencies": 1
            }
        ]}

### Create a New Subregion [POST]

+ Request (application/json)

        {
            "name": "North America"
        }

+ Response 201 (application/json)

    + Headers

            Location: /subregion/2

    + Body

               {
                    "id": 2,
                    "name": "North America",
                    "languages": 1,
                    "region": "Americas",
                    "countries": 1,
                    "currencies": 1
                }

## Single Subregion -- /subregion/{id} [/api/v1/subregion/{id}]

### Get a Subregion [GET]

+ Response 200 (application/json)

        {
            "id": 1,
            "name": "North America",
            "languages": 1,
            "region": "Americas",
            "countries": 1,
            "currencies": 1
        }



### Update a Subregion [PUT]

+ Request (application/json)

        {
            "name": "North America"
        }

+ Response 200 (application/json)

    + Headers

            Location: /region/{id}

    + Body

               {
                    "id": 1,
                    "name": "North America",
                    "languages": 1,
                    "region": "Americas",
                    "countries": 1,
                    "currencies": 1
                }

### Remove a Subregion [DELETE]

+ Request (application/json)

+ Response 204