/* css styles here */
body {
	background-color: #ddf3ff;
    background-image: url("../img/starbg.jpg");
    background-size:cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: yellow;
}


.sw-panel {
    background-color: rgba(200, 200, 200, 0.2);
    border: 2px solid#ff6;
   	margin: 5px;
}    