/* css styles here */
.navbar{
	margin-bottom: 0px;
}

body {
	background-color: #ddf3ff;
    background-image: url("../img/water-world2.jpg");
    background-size:cover;
    background-repeat: no-repeat;
}
