/* css styles here */
.navbar{
	margin-bottom: 0px;
}

body {
	background-color: #ddf3ff;
    background-image: url("../img/water-world2.jpg");
    background-size:cover;
    background-repeat: no-repeat;
}

.profilepic {
	text-align: center;
	display: block;
    margin-left: auto;
    margin-right: auto;

}

.profilebg {

	text-align: center;

}

