/* css styles here */
.navbar{
	margin-bottom: 0px;
}

.banner{
	max-width: 100%

}


body {
	background-color: #ddf3ff;
    background-image: url("../img/water-world2.jpg");
    background-size:cover;
    background-attachment: fixed;
    background-repeat: no-repeat;

}

.profilecard img{
	border:2px solid rgba(0,0,0,.1);
}
.profilecard p{
	padding: 1px 10px 1px 10px;
	background-color: lightgray;
	border:2px solid rgba(0,0,0,.1);
}
.profilecard h3{
	padding: 0px 0px 0px 0px;

}

.profilecard h5{
	color: rgb(100,100,100);
	font-style: italic;
	padding: 0px 0px 0px 0px;
    margin: 0px 0px 5px 0px;
}


.profilecard {

	display: inline-block;
    max-width: 24%;
    min-width: 220px;
    padding: 10px 10px 10px 10px;
    margin-top: 15px;
    margin-right: 10px;
    text-align: left;
    vertical-align: top;
}
