{% extends "base.html" %}



{% block title %}
Internet Country Database
{% endblock %}


{% block content %}
	<link rel="stylesheet" href="../static/css/w3.css">

	
  <!-- <div class="col-md-3">  -->
  	<div class="w3-card-8 panel profilecard" style="width:200px">
      <img src="../static/img/profilepic2.png" class="img-circle" alt="ProfilePic" style="width:100%">
  	  <div class="w3-container w3-center">
  	    Name Person <br>
        bio <br>
        major responsibilities <br>
        commits 999 <br>
        issues 0 <br>
        unit tests 0 <br>
  	  </div>
    </div>
  <!-- </div> -->

  <!-- <div class="col-md-3">  -->
    <div class="w3-card-8 panel profilecard" style="width:200px">
      <img src="../static/img/profilepic.png" alt="ProfilePic" style="width:100%">
      <div class="w3-container w3-center">
        Name Person2 <br>
        bio <br>
        major responsibilities <br>
        commits 999 <br>
        issues 0 <br>
        unit tests 0 <br>
      </div>
    </div>
  <!-- </div> -->

  <!-- <div class="col-md-3">  -->
    <div class="w3-card-8 panel profilecard" style="width:200px">
      <img src="../static/img/profilepic.png" alt="ProfilePic" style="width:100%">
      <div class="w3-container w3-center">
        Name Person3 <br>
        bio <br>
        major responsibilities <br>
        commits 999 <br>
        issues 0 <br>
        unit tests 0 <br>
      </div>
    </div>
  <!-- </div> -->

  <!-- <div class="col-md-3">  -->
    <div class="w3-card-8 panel profilecard" style="width:200px">
      <img src="../static/img/profilepic.png" alt="ProfilePic" style="width:100%">
      <div class="w3-container w3-center">
        Name Person4 <br>
        bio <br>
        major responsibilities <br>
        commits 999 <br>
        issues 0 <br>
        unit tests 0 <br>
      </div>
    </div>
  <!-- </div> -->

  <!-- <div class="col-md-3">  -->
    <div class="w3-card-8 panel profilecard" style="width:200px">
      <img src="../static/img/profilepic.png" alt="ProfilePic" style="width:100%">
      <div class="w3-container w3-center">
        Name Person5 <br>
        bio <br>
        major responsibilities <br>
        commits 999 <br>
        issues 0 <br>
        unit tests 0 <br>
      </div>
    </div>
  <!-- </div> -->

  <!-- 

  <div class="col-md-3 profilebg">
    <img src="../static/img/profilepic.png" alt="profile picture" class="img-circle profilepic" width="200" height="200"> 
    <br>
      person2 
    </div>

    <div class="col-md-3 profilebg">
	<img src="../static/img/profilepic.png" alt="profile picture" class="img-circle profilepic" width="200" height="200"> 
	<br>
	3
	</div>

	<div class="col-md-3 profilebg">
	<img src="../static/img/profilepic.png" alt="profile picture" class="img-circle profilepic" width="200" height="200"> 
	<br>
	4
	</div>

	<div class="col-md-3 profilebg">
	<img src="../static/img/profilepic.png" alt="profile picture" class="img-circle profilepic" width="200" height="200"> 
	<br>
	5
	</div>

  -->

{% endblock %}