{% extends "base.html" %}



{% block title %}
Internet Country Database
{% endblock %}


{% block content %}
  
  <center><h1>Sweographers:</h1></center>
  

  <center>
  	<div class="panel panel-default profilecard">

      <img src="../static/img/nathanbain.png" class="img-circle" alt="ProfilePic" style="width:100%" >

  	  <div>
  	    <center><h3>Nathan Bain</h3></center>
        <center><h5>Front-end, Server Admin</h5></center>
        <p>
        I'm from Katy, Texas. I like clusters, programming, and Linux.
        </p>
        <p>
        Commits: 42 <br>
        Issues: 6 <br>
        Unit tests: 0 <br>
        </p>
  	  </div>
    </div>

    <div class="panel panel-default profilecard panel-default">
      <img src="../static/img/michaelchin.png" class="img-circle" alt="ProfilePic" style="width:100%">
      <div>
        <center><h3>Michael Chin</h3></center>
        <center><h5>Front-end, Web Development</h5></center>
        <p>
        From Sugar Land, Texas. Likes to play video games and mess around on the computer. 
        </p>
        <p>
        commits 35 <br>
        issues 4 <br>
        unit tests 0 <br>
        </p>
      </div>
    </div>

    <div class="panel panel-default profilecard">
      <img src="../static/img/stormyemery.png" class="img-circle" alt="ProfilePic" style="width:100%">
      <div>
        <center><h3>Stormy Emery</h3></center>
        <center><h5>Back-end, SQL, Test-Writer</h5></center>
        <p>
        From Big Spring, Texas. Likes to spend time playing and developing video games.
        </p>
        <p>
        commits 29 <br>
        issues 5 <br>
        unit tests 19 <br>
        </p>
      </div>
    </div>

    <div class="panel panel-default profilecard">
      <img src="../static/img/alissahall.png" class="img-circle" alt="ProfilePic" style="width:100%">
      <div>
        <center><h3>Alissa Hall</h3></center>
        <center><h5>Front-end, Issue Manager</h5></center>
        <p>
        Bio: From Katy, Texas. Likes drawing and sleeping.
        <p>
        commits 29 <br>
        issues 33 <br>
        unit tests 0 <br>
        </p>
      </div>
    </div>

    <div class="panel panel-default profilecard">
      <img src="../static/img/brenthays.png" class="img-circle" alt="ProfilePic" style="width:100%">
      <div>
        <center><h3>Brent Hays</h3></center>
        <center><h5>Front-end, Back-end</h5></center>
        <p>
        Senior CS student from Houston, TX. I am interested in web and mobile app development, and work as the lead developer at an Austin-based start up.
        </p>
        <p>
        commits 33 <br>
        issues 1 <br>
        unit tests 0 <br>
        </p>
      </div>
    </div>
 
  <br>
 



  <div class = "panel text-center infocard">

      <h3 class="text-center">
      Total Commits <br>
      181<br><br>
      Total Issues <br>
      49<br><br>
      Total Unit Tests <br>
      19<br><br>


      <h2 class="text-center">Links</h2><center>
      <a href="http://docs.icdb.apiary.io/#" class="btn btn-info infobutton" role="button">Apiary API</a>
      <a href="https://github.com/asterales/cs373-idb/issues" class="btn btn-info infobutton" role="button">GitHub Issue Tracker</a>
      <a href="https://github.com/asterales/cs373-idb" class="btn btn-info infobutton" role="button">GitHub Repo</a>
      <a href="https://github.com/asterales/cs373-idb/wiki" class="btn btn-info infobutton" role="button">GitHub Wiki</a>
      <a href="https://speakerdeck.com/michaeldchin/sweography" class="btn btn-info infobutton" role="button">Presentation</a>
      
      <br>
      <h2 class="text-center">Tests</h2>
      <!-- Trigger the modal with a button -->
      <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Run Tests</button>

      <!-- Modal -->
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
        
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Test</h4>
            </div>
            <div class="modal-body">
              <p><embed src="/about/tests" width="550" height="400"> </embed> </p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
          
        </div>
      </div>

      </center>

      <h2 class="text-center">Data</h2>
      <p>
        <center>
        <h5><a href="https://restcountries.eu/">https://restcountries.eu/</a><br></h5>
        The main API that our website revolves around is the restcountries API. It returned a JSON file of a countries with all their various attributes including currency, languages, region, subregion, ect. 
        </center>
        
      </p>
      <p>
        <center>
        <h5><a href="http://www.geognos.com/geo/en/world-countries-API.html">http://www.geognos.com/geo/en/world-countries-API.html</a><br></h5>
        Flags API for flag images to put on the country pages. We have yet to implement this API into our site, but we're planning to embed flag images along side the countries. 
        </center>
      
      </p>
      <center>
      <h2 class="text-center">Tools Used</h2>
      Bootstrap - <a href="http://getbootstrap.com/"> http://getbootstrap.com/</a><br>
      AngularJS - <a href="https://angularjs.org/"> https://angularjs.org/</a><br>
      Flask - <a href="http://flask.pocoo.org/"> http://flask.pocoo.org/</a><br>
      Jinja2 - <a href="http://jinja.pocoo.org/"> http://jinja.pocoo.org/</a><br>
      SQLAlchemy - <a href="http://www.sqlalchemy.org/"> http://www.sqlalchemy.org/</a><br>
      Google Maps - <a href="https://pypi.python.org/pypi/Flask-GoogleMaps"> https://pypi.python.org/pypi/Flask-GoogleMaps</a> <br>
      </center>
      

  </div>
  </center>



{% endblock %}









