{% extends "base.html" %}



{% block title %}
Internet Country Database
{% endblock %}


{% block content %}
	<link rel="stylesheet" href="../static/css/w3.css">

  
  <center><h1>Sweographers:</h1></center>
  

  <center>
  	<div class="w3-card-8 panel panel-default profilecard">

      <img src="../static/img/nathanbain.png" class="img-circle" alt="ProfilePic" style="width:100%" >

  	  <div class="w3-container">
  	    <center><h3>Nathan Bain</h3></center>
        <center><h5>Front-end, Server Admin</h5></center>
        <p>
        I'm a the most excited judge you will ever read about, I love long walks along geographical locations
        </p>
        <p>
        Commits: 999 <br>
        Issues: 1 <br>
        Unit tests: 0 <br>
        </p>
  	  </div>
    </div>

    <div class="w3-card-8 panel panel-default profilecard panel-default">
      <img src="../static/img/michaelchin.png" class="img-circle" alt="ProfilePic" style="width:100%">
      <div class="w3-container">
        <center><h3>Michael Chin</h3></center>
        <center><h5>Front-end, GUI</h5></center>
        <p>
        From Sugar Land, Texas. Likes to play video games and mess around on the computer. 
        </p>
        <p>
        commits 999 <br>
        issues 0 <br>
        unit tests 0 <br>
      </p>
      </div>
    </div>

    <div class="w3-card-8 panel panel-default profilecard">
      <img src="../static/img/stormyemery.png" class="img-circle" alt="ProfilePic" style="width:100%">
      <div class="w3-container">
        <center><h3>Stormy Emery</h3></center>
        <center><h5>Back-end, SQL</h5></center>
        <p>
        I'm a the most excited judge you will ever read about, I love long walks along geographical locations
        </p>
        <p>
        commits 999 <br>
        issues 0 <br>
        unit tests 0 <br>
      </p>
      </div>
    </div>

    <div class="w3-card-8 panel panel-default profilecard">
      <img src="../static/img/alissahall.png" class="img-circle" alt="ProfilePic" style="width:100%">
      <div class="w3-container">
        <center><h3>Alissa Hall</h3></center>
        <center><h5>Front-end, GUI, Project Lead</h5></center>
        <p>
        I'm a the most excited judge you will ever read about, I love long walks along geographical locations
        </p>
        <p>
        commits 999 <br>
        issues 0 <br>
        unit tests 0 <br>
      </p>
      </div>
    </div>

    <div class="w3-card-8 panel panel-default profilecard">
      <img src="../static/img/brenthays.png" class="img-circle" alt="ProfilePic" style="width:100%">
      <div class="w3-container">
        <center><h3>Brent Hays</h3></center>
        <center><h5>Front-end, Back-end</h5></center>
        <p>
        I'm a the most excited judge you will ever read about, I love long walks along geographical locations
        </p>
        <p>
        commits 999 <br>
        issues 0 <br>
        unit tests 0 <br>
      </p>
      </div>
    </div>
  </center>
  
 



<div class = "w3-card-8 panel">
  <h2>stats:<h2>
    total no. of commits <br>
    total no. of issues <br>
    total no. of unit tests <br>

</div>

<div class = "w3-card-8 panel">
  <h2>Links</h2>
    a link to the Apiary API
    a link to the GitHub Issue Tracker
    a link to the GitHub Repo
    a link to the GitHub Wiki
    

</div>

<div class = "w3-card-8 panel">
  <h2>data:</h2>
  links to the data sources
  description of how each was scraped
</div>

<div class = "w3-card-8 panel">
  <h2>tools:</h2>
  tools used
</div>


{% endblock %}









