<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}
	{{ currency["code"] }}
{% endblock %}

{% block content %}
	<h2>{{ currency["code"] }}</h2>
	<br>
		<p>Name: {{ currency["name"] }}</p> 
		<p>Countries: {{ currency["countries"] }}</p>
		<p>Regions: {{ currency["regions"] }}</p>
		<p>Subregions: {{ currency["subregions"] }}</p>
	</br>
	<div>
		<br>
			<h4>Regions</h4> 
			{% for region in regions %} 
				<p><a href = "{{ url_for('region_page', region=region.link)}}">{{ region.name }}</a></br>
			{% endfor %}
		</br>
		<br>
			<h4>Subregions</h4> 
			{% for subregion in subregions %} 
				<p><a href = "{{ url_for('subregion_page', subregion=subregion.link)}}">{{ subregion.name }}</a></br>
			{% endfor %}
		</br>
		<br>
			<h4>Countries</h4>
			{% for country in countries %} 
				<p><a href = "{{ url_for('country_page', country=country.link)}}">{{ country.name }}</a></br>
			{% endfor %}
		</br>
	</div>
{% endblock %}