<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}
	{{ model_type }}
{% endblock %}

{% block content %}
	<script src = "{{ url_for('static', filename = 'js/dirPagination.js')}}"></script>
	<script>
	var app = angular.module('sortApp', ['angularUtils.directives.dirPagination']);
	app.config(['$interpolateProvider', function($interpolateProvider) {
	  $interpolateProvider.startSymbol('{a');
	  $interpolateProvider.endSymbol('a}');
	}]);
	app.controller('mainController', function($scope) {
	  $scope.sortType     = ''; // set the default sort type
	  $scope.sortReverse  = false;  // set the default sort order

	  $scope.model = {{ models|safe }};
	});
	app.filter('url', function () { // custom filter that does the same thing as our get_link python function
		return function (input) {
			return input.toLowerCase().replace(/ /g,'-').replace(/[^\w-]+/g,'');
		}
	});
	</script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
	<br></br>
	<div class="container" ng-app="sortApp" ng-controller="mainController">
		<div class="panel panel-default table-responsive {{ style }}">
			<table class = "table table-hover  table-bordered">
				<div class="panel-heading"><h2 class = "text-center">{{ model_type }}</h2></div>
				<thead>
					<tr>
						{% for short_attr in short_name %}
							<th>
								<a href="#" ng-click="sortType = '{{ short_attr }}'; sortReverse = !sortReverse">
									{{ attributes[short_attr] }}
									<span ng-show="sortType == '{{ short_attr }}' && !sortReverse" class="fa fa-caret-down"></span>
									<span ng-show="sortType == '{{ short_attr }}' && sortReverse" class="fa fa-caret-up"></span>
								</a>
							</th>
						{% endfor %}
					</tr>
				</thead>

				<tbody>
					<tr dir-paginate="member in model | orderBy:sortType:sortReverse|itemsPerPage:10">
						{% for short_attr in short_name %}
							{% if loop.first %}
								<td>
									<a href="{a member.id a}">
										{a member.{{short_attr}} a}
									</a>
								</td>
							{% elif short_attr in ["region","subregion"] %}
								<td>
									<a href="../{{ short_attr }}s/{a member.{{ short_attr }}_id a}">
										{a member.{{short_attr}} a}
									</a>
								</td>
							{% else %}
								<td>
									{a member.{{short_attr}} a}
								</td>
							{% endif %}
						{% endfor %}
					</tr>
				</tbody>
			</table>
		</div>
		 <dir-pagination-controls
	       max-size="9"
	       direction-links="true"
	       boundary-links="true">
	    </dir-pagination-controls>
	</div>
{% endblock %}