<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}
	{{ region["name"] }}
{% endblock %}

{% block content %}
	<h1 class="page-header"><strong>{{ region["name"] }}</strong></h1>
	<div class="row">
		<div class="col-md-4 col-lg-4">
			<div class="panel {{ panel_styles["regions"] }} panel-match">
		  		<div class="panel-heading">
		    		<h3 class="panel-title"><a href="{{ url_for('regions_table') }}">Region</a> Info</h3>
		  		</div>
		  		<div class="panel-body">
					<p><strong>Area: </strong>{{ region["area"] }}</p>
					<p><strong>Population: </strong>{{ region["population"] }}<p>
					<p><strong>Subregions: </strong>{{ region["subregions"] }}</p>
					<p><strong>Countries: </strong>{{ region["countries"] }}</p>
					<p><strong>Languages: </strong>{{ region["languages"] }}</p>
					<p><strong>Currencies: </strong>{{ region["currencies"] }}</p>
			  	</div>
			</div>
		</div>
		<div class="col-md-8 col-lg-8">
			<div class="panel {{ panel_styles["media"] }} panel-match">
				<div class="panel-heading">
					<h3 class="panel-title">Map</h3>
				</div>
				<div class='panel-body'>
					{{googlemap("region_map", lat=mapData["latitude"], lng=mapData["longitude"], zoom=mapData["zoom"], style="height:400px;width:100%;margin:0")}}
				</div>
			</div>
		</div>
	</div>
	<div class="panel {{ panel_styles["subregions"] }}">
  		<div class="panel-heading">
    		<h3 class="panel-title"><a href="{{ url_for('subregions_table') }}">Subregions</a></h3>
  		</div>
  		<div class="panel-body">
  			<ul class="list-inline">
				{% for subregion in subregions %}
					<li><a href = "{{ url_for('subregion_page', subregion=subregion.link)}}">{{ subregion.name }}</a></li>
				{% endfor %}
			</ul>
	  	</div>
	</div>
	<div class="panel {{ panel_styles["countries"] }}">
  		<div class="panel-heading">
    		<h3 class="panel-title"><a href="{{ url_for('countries_table') }}">Countries</a></h3>
  		</div>
  		<div class="panel-body">
  			<ul class = list-inline>
				{% for country in countries %}
					<li><a href = "{{ url_for('country_page', country=country.link)}}">{{ country.name }}</a></li>
				{% endfor %}
			<ul>
	  	</div>
	</div>
	<div class="panel {{ panel_styles["languages"] }}">
		<div class="panel-heading">
    		<h3 class="panel-title"><a href="{{ url_for('languages_table') }}">Languages</a></h3>
  		</div>
  		<div class="panel-body">
   			<ul class = list-inline>
				{% for lang in languages %}
					<li><a href = "{{ url_for('language_page', language=lang.link)}}">{{ lang.name }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class = "panel {{ panel_styles["currencies"] }}">
		<div class="panel-heading">
    		<h3 class="panel-title"><a href="{{ url_for('currencies_table') }}">Currencies</a></h3>
  		</div>
  		<div class="panel-body">
  			<ul class = "list-inline">
				{% for curr in currencies %}
					<li><a href = "{{ url_for('currency_page', currency=curr.link)}}">{{ curr.name }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
{% endblock %}