<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}
	SWEWars
{% endblock %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/starwars.css')}}">
    <script src = "{{ url_for('static', filename = 'js/quiz.js')}}"></script>
    <script>
        var app = angular.module('quizApp', []);
        app.config(['$interpolateProvider', function($interpolateProvider)
        {
            $interpolateProvider.startSymbol('{a');
            $interpolateProvider.endSymbol('a}');
        }]);
        app.controller('MainCtrl', function($scope,$http)
        {
            /* Gather all of the input data */
            swewars_data = [];
            swewars_data.push({{ planet_data|safe }});
            swewars_data.push({{ people_data|safe }});
            swewars_data.push({{ species_data|safe }});

            /* Generate the quiz */
            $scope.questions = generate_quiz(swewars_data);
            correct = $scope.questions[2];

            /* Range function for angular */
            $scope.range = function(min, max, step) {
                var step = step || 1;
                var input = [];
                for (var i = min; i <= max; i += step) {
                    input.push(i);
                }
                return input;
            };
        });
    </script>
    <h1 class="page-header"><strong>Star Wars Quiz</strong></h1>
    <!-- Probably too many divs -->
    <div ng-app="quizApp" ng-controller="MainCtrl">
        <div ng-repeat="i in range(0,9)">
            <div class="row" id="swewars-quiz">
                <div class="col-xs-12">
                    <div class="sw-panel">
                        <div class="panel-body">
                            <form>
                                <h4>{a questions[0][i] a}</h4>
                                <div ng-repeat="q in range(0,3)">
                                    <p><input type="radio" name="question-{a i a}" id="question-{a i a}-{a q a}"/><label id="for-question-{a i a}-{a q a}" for="question-{a i a}-{a q a}">{a questions[1][i][q] a}</label></p>
                                </div>
                                <p id="correct-{a i a}">
                                    <br>
                                </p>
                            </form>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-default" type="submit" onclick="get_score();">Finish</button>
    </div>
    <div id="score" style="padding-left: 5em; padding-bottom: 200px;"/>

{% endblock %}
